div.container{
    font-size: 9pt;
    display:block;
    background-color:transparent;


}

i{
    position: relative;
    margin-left: 85%;
    display:block;
    height:0;
    width:0;
    font-size: 0;
    line-height: 0;
    border-color:transparent transparent #fff transparent;
    border-style:dashed dashed solid dashed;
    border-width:10px;
}
.content{

    position: relative;
    width: 78%;
    margin-left: 10%;
    height: 150px;
    overflow-y:scroll;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#fff;
    padding:5px;
    *top:-2px;
    *border-top:1px solid #666;
    *border-top:1px solid #666;
    *border-left:none;
    *border-right:none;
    *height:102px;
    box-shadow: 3px 3px 4px #999;
    -moz-box-shadow: 3px 3px 4px #999;
    -webkit-box-shadow: 3px 3px 4px #999;
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
}
.comment{
    width: 80%; margin-left: 10%; background-color: #ebebeb;margin-top:20px;
    padding: 5px;
    border: 3px solid #6C6C6C;
}
.commentt{
    width:80px;
    height: 25px;
    font-size: 18px;
    background-color: #8D0000;
    text-align: center;
}
.commentc{
    margin-left: 0%; background-color: white;
    position: relative;
}
.commentb{
    margin-left: 87%;
    text-align: center;
    width:65px;
    height: 25px;
    font-size: 18px;
    background-color: #8D0000;
    cursor: pointer;
}
.commentusn{
    padding: 3px;
}
.commentcnt{
    font-size: 13px;
}
.commenttm{
    font-size: smaller;
    margin-left: 92%;
    font-style: italic;
}