.Reg{

    position: fixed;
    _position: absolute;
    z-index: 9999;
    left: 40%;
    top:170px ;
    width: 345px;
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius:5px;
}
.fdiv{
    height: 50px;
}
.fdiv input{
    width: 200px;
    height: 25px;
    margin-left: 77px;
    font-size: 100%;
}
.fdiv h5{
    margin-left: 77px;
}
.Regbuttom{
    background-color:#8D0000 ;
    text-align: center;
    width: 300px;
    height: 30px;
    line-height: 27px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius:5px;
    cursor: pointer;
}